.main_wrapper {
  padding: 0.8rem;

  /* background-color: rgb(255, 200, 17); */
  box-shadow: 0px 0px 0.5rem 0.05rem rgba(184, 178, 178, 0.801);
  border: 1px solid rgb(182, 180, 180);
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  max-width: fit-content;
}

.main_wrapper:hover {
  background: #023e8a;
  color: white;
}

@media (max-width: 1120px) {
  .main_wrapper {
    min-width: 250px;
  }
}
