.main_wrapper {
    height:30rem;
    background-color: rgb(100, 128, 0);
    display: flex;
    position: relative;
}

.banner {
    width: 80%;
    background-color: tomato;
    height:100%
}

.people {
    width: 30%;
    background: #023e8a;
}