.topbar {
    font-size: .8rem;
    padding:.3rem;
    background-color: #03045e;
    color: white;
}

.header {
    height:8rem;
    width: 100%;
    background-color: #023e8a;
    display: flex;
    justify-content: center;
}

.header_container{
    width: 80%;
    margin:auto auto;
    text-align: center;
}

.header_container  h1{
    margin: .5rem 0;
    color:white;
    font-size: 1.5rem;
}

.header_container h3{
    margin-top: .5rem;
    color:white;
    font-size: 1.2rem;
}

.navigation_wrapper_main {

}

.navigation_wrapper{
    text-align: center;
    margin:auto auto;
}