.topbar {
  font-size: 1rem;
  padding: 0.3rem;
  background-color: #03045e;
  color: white;
}

.header {
  width: 100%;
  background-color: #023e8a;
  display: flex;
  justify-content: center;
  height: max-content;
  padding: 2rem;
}

.header_container {
  width: 80%;
  margin: auto auto;
  text-align: center;
}

.header_container h1 {
  margin: 0.5rem 0;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}

.header_container h3 {
  margin-top: 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
}

.navigation_wrapper {
  text-align: center;
  margin: auto auto;
}

@media (max-width: 1120px) {
  .header {
    padding: 1.5rem 0.5rem;
  }

  .header_container h1 {
    font-size: 1.5rem;
  }

  .header_container h3 {
    font-size: 1rem;
  }
}
