.main_wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1120px) {
  .main_wrapper {
    flex-direction: column;
    display: none;
  }
}
