.slide{
    height:100%;
    width: 100%;
    text-align: center !important;
    margin:auto auto
   
}

.carousel-inner{
    text-align: center;
}

.supreme_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}