.main_wrapper a {
  /* padding: 1rem 1rem !important; */
  color: black;
}

.main_wrapper > div {
  display: flex !important;
  flex-wrap: wrap !important;
}

.supreme_wrapper {
}

.icons_wrapper {
  height: 3rem;
  background-color: #03045e;
  display: none;
}

.menu_hidden {
}

@media (max-width: 480px) {
  .main_wrapper {
  }

  .menu_hidden {
    display: none;
  }

  .icons_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
